*:2015 {
gzip
root /files/www.tiernanotoole.ie/_site/
}

*:2016 {
gzip
root /files/www.tiernanotoole.net/_site/
}

*:2017 {
gzip
root /files/podcast.tiernanotoole.ie/_site/
}

*:2018 {
gzip
root /files/www.geekphotographer.com/_site/
}

*:2019 {
gzip
root /files/www.tiernanotoole.com/_site/
}

*:2020 {
gzip
root /files/blog.lotas-smartman.net/_site/
}
